.outlay {
  position: absolute;
  background: #7abf08;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  font-family: Pt Mono, monospace;
  font-size: 10px;
  padding: 0.2rem;
  line-height: 1rem;
  top: 0px;
}
.outlay:after {
  content: "$";
}
.day {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  color: #ccc;
  position: relative;

}

.day--active {
  color: #000;
}

.outlay--list {
  text-align: center;
  padding: 2%;
}

.add-outlay__input {
  font-size: 1rem;
  font-family: "Courier New";
  height: 25px;
  margin: auto;
}

.add-outlay__input:last-child {
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  background: rgba(19, 65, 191, 0.65);
  color: white;
}

.add-outlay__button {
  height: 29px;
  border-bottom-right-radius: 15%;
  border-top-right-radius: 15%;
}

.month__weekdays {
  float: left;
  width: 13%;
  margin: 0.5%;
  color: #777;
  font-size: 11px;
  text-align: center;
}

.outlay-details__container {
  padding: 5% 0;
  width: 100%;
}

.outlay__details--button {
  float: right;
  border-radius: 100%;
  background: rgba(169, 169, 169, 0.84);
  border: 2px solid whitesmoke;
  color: whitesmoke;
}

.outlay__details--button:hover {
  background: rgba(169, 169, 169, 0.57);
}
