.day {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    color: #c1c1c1;
    position: relative;
    font-family: PT Sans, sans-serif;

}

.day__heading {
  height: fit-content;
  text-align: center;
  display: block;
  margin: 5% 5% 1% 5%;
  padding: 3%;
  min-width: 33%;
  font-size: smaller;
  border-bottom: 1px solid transparent;
}


.day--active {
  color: #000;
}

.day__money-amount {
    position: absolute;
    z-index: 1;
    background: rgb(123, 190, 7);

    border-radius: 100%;
    width: 1.1rem;
    font-family: Pt Mono, monospace;
    font-size: 10px;
    padding: 0.6rem;
    line-height: 1rem;
    top: -0.3rem;
    left: -0.6rem;
}
.day__money-amount:after {
    content: "$";
}

.day__money-amount--top {
    z-index: 11;
    background: rgb(142, 219, 8);

}

.day__money-amount:hover {
    background: rgb(142, 219, 8);
}




