.heading {}
.heading--small {
    font-family: Pt Serif, serif;

    height: fit-content;
    text-align: center;
    display: block;
    margin: 5% 5% 1% 5%;
    padding-top: 1%;
    font-weight: bold;
    min-width: 33%;
}
.heading--large {
    font-family: Pt Serif, serif;
}