.outlay-details {
    padding: 5% 0;
    width: 100%;
    text-align: left;
}

.outlay-details__delete-button {
    float: right;
    border-radius: 100%;
    background: transparent;
    border: none;
    color: whitesmoke;
}

.outlay-details__delete-image {
    width: 0.9rem;
    opacity: 0.4;
}

.outlay-details__delete-image:hover {
    opacity: 0.5;
}